<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div  class="field" id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :address, "Dirección" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :title, "Nombre" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
